/* Webfont: MagicWhisper-Regular */@font-face {
    font-family: 'MagicWhisper';
    src: url('Monster.eot'); /* IE9 Compat Modes */
    src: url('Monster.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Monster.woff') format('woff'), /* Modern Browsers */
         url('Monster.woff2') format('woff2'), /* Modern Browsers */
         url('Monster.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

